
.container { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    height: 75px;
    background-color: aqua;

}
.nav {
    background-color: rgb(148, 148, 204);
    height: 30px;
    width: 100px;
    cursor: pointer;
}
.nav:hover {
    background-color: rgb(83, 83, 199);
    color: white;
}